{#
/**
 * @file
 * Override template for an "Image Component" paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% set image = content.field_image|field_target_entity %}
    {% if content.field_image and image %}
      {% if paragraph.field_aspect_ratio.value == 'original' %}
        {% set size = 'large' %}
      {% else %}
        {% set size = 'large_' ~  paragraph.field_aspect_ratio.value %}
      {% endif %}
      <div class="field field--name-field-image field--type-entity-reference field--label-above">
        <div class="field__label">Image ({{ content.field_aspect_ratio[0]['#markup'] }})</div>
        <div class="field__item">
          {% set image_uri = image.field_media_image|file_uri %}
          {% if image_uri is not null %}
            <img src="{{ image_uri|image_style(size) }}" alt="{{ image.field_media_image.alt }}" />
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if content.field_include_caption %}
      {{ content.field_include_caption }}
    {% endif %}
    {% set use_caption = paragraph.field_include_caption.value ?? 0 %}
    {% if use_caption and image %}
      {% set caption = drupal_field('field_caption', 'media', image.id())|render %}
      <div class="field field--name-field-image field--type-entity-reference field--label-above">
        <div class="field__label">{{ image.field_caption|field_label }}</div>
        <div class="field__item">
          {% if caption|trim is not empty %}
            {{ caption }}
          {% else %}
            <em>The media caption is empty.</em>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% block content %}
      {{ content|without('field_image', 'field_aspect_ratio', 'field_include_caption') }}
    {% endblock %}
  </div>
{% endblock paragraph %}
