/* Fields */
div.field--label-above div.field__item {
  padding-left: 1rem;
}
/* Paragraphs fields */
div.field--type-entity-reference-revisions > .field__items > .field__item > .paragraph,
div.field > div.field__item.preview {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  color: #222330;
  border: 1px solid #dedfe4;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div.field > code.field__item {
  background-color: #eee;
  color: #333;
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: smaller;
  display: inline-block;
}
